@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
ol {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "FuturaBT-Book";
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: text;
}

ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
}

/* класс для индикации блоков */
.outline_red {
  border: 1px solid;
  border-color: red;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Один общий оутлайн для отмечания компонентов на верстаемых страницах*/
.devOutline {
  outline-color: red;
  outline-width: 1px;
  outline-style: inset;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

body {
  font-family: "Montserrat";
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #00093c;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.back_to_top-show {
  display: block;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  background-color: #00093c;
  position: relative;
}
.page-header__icon-logo {
  width: 55px;
  height: 40px;
  padding-top: 8px;
}
.page-header__menu-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  color: #000000;
  margin-bottom: 27px;
  display: contents;
}
.page-header__button {
  display: inline-flex;
  align-items: center;
}
.page-header__icon {
  margin-right: 6px;
}
.page-header__menu-items {
  width: 18px;
  height: 12px;
}
.page-header__icon-exit {
  fill: #ffffff;
}
.page-header__menu-button .page-header__icon-exit {
  display: none;
}
.page-header__menu {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.page-header__menu-button.page-header__menu-is-open .page-header__icon-exit {
  display: block;
}

.page-header__menu-button.page-header__menu-is-open .page-header__icon-menu {
  display: none;
}

.page-header__menu.page-header__menu-is-open {
  display: block;
  z-index: 999;
  padding-top: 33px;
  padding-bottom: 30px;
  border-bottom: 2px solid silver;
}

.header-nav {
  margin-top: 27px;
}
.header-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}
.header-nav__item:not(:last-child) {
  margin-bottom: 10px;
}
.header-nav__list {
  margin-bottom: 54px;
}

.menu-address {
  display: flex;
  flex-direction: column;
}
.menu-address__item {
  margin-top: 12px;
}
.menu-address__group {
  margin-bottom: 35px;
}
.menu-address__icon-geo {
  width: 17px;
  height: 20px;
}
.menu-address__icon-done {
  width: 8px;
  height: 4px;
}
.menu-address__link {
  display: flex;
  align-items: center;
}
.menu-address__name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-right: 12px;
  margin-left: 9px;
}
.menu-address__link-sign {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  margin-bottom: 50px;
}
.menu-address__contacts {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  color: #00093c;
}
.menu-address__location, .menu-address__email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #00093c;
}

.social-media {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media__item:not(:last-child) {
  margin-right: 40px;
}
.social-media__icon-vk {
  fill: #00093c;
  width: 26px;
  height: 27px;
}
.social-media__icon-instagram, .social-media__icon-telegram {
  fill: #00093c;
  width: 21px;
  height: 26px;
}
.social-media__icon-facebook {
  fill: #00093c;
  width: 24px;
  height: 26px;
}
.social-media__icon-youtube {
  fill: #00093c;
  width: 27px;
  height: 26px;
}

.hero-section__image {
  width: 100%;
}
.hero-section__group {
  background-color: #00093c;
}

.hero-information {
  position: relative;
}
.hero-information__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 21px;
  padding-bottom: 40px;
}
.hero-information__title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.hero-information__decorative {
  position: absolute;
  bottom: -13px;
  left: 53px;
}

.attraction-group {
  position: absolute;
  top: 60px;
  left: 33px;
}

.section-attraction {
  position: relative;
  padding-top: 40px;
  padding-bottom: 73px;
}
.section-attraction__icon {
  width: 298px;
  height: 143px;
}
.section-attraction__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 0.82;
  color: #000000;
  margin-bottom: 23px;
}
.section-attraction__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  color: #000000;
}
.section-attraction__description:not(:last-child) {
  margin-bottom: 20px;
}
.section-attraction__image {
  position: absolute;
  bottom: 25px;
}

.section-children__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 19px;
}
.section-children__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.82;
  margin-bottom: 5px;
  color: #000000;
}
.section-children__age {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  color: #4f4f4f;
}
.section-children__item:not(:last-child) {
  margin-right: 32px;
}
.section-children__img {
  margin: 0 auto;
}
.section-children__button {
  position: relative;
}
.section-children__button::after {
  display: block;
  content: "";
  background: linear-gradient(to right, rgb(247, 148, 29), rgb(39, 170, 225));
  height: 4px;
  margin-top: 7px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-children__item:hover .section-children__button::after {
  transform: scaleX(1);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 5px;
  padding-bottom: 56px;
}
.skills-list__button {
  position: relative;
  padding: 16px 19px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
}
.skills-list__item:first-child {
  margin-right: 20px;
}
.skills-list__button:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #f4791d 0%, #27aae1 100%);
  transform: translate3d(0px, 0px, 0) scale(0.95);
  filter: blur(10px);
  opacity: 0.3;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: inherit;
}
.skills-list .skills-list__item:hover .skills-list__button::before {
  opacity: 1;
}
.skills-list__button::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

#wrap {
  padding-bottom: 16px;
  position: relative;
}

.section-wrap {
  border-bottom: 1px solid #ddd;
}
.section-wrap:last-child {
  border-bottom: 0;
}
.section-wrap--d {
  background: #000;
}

.center {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

#video {
  width: 100%;
  position: relative;
}
#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: opacity, visibility;
}
#video-play::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 21px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-color: #fff;
  border-right-width: 0;
  transition: transform 0.2s ease;
}
#video-play:hover::before {
  transform: scale(1.2);
}
#video video {
  width: 100%;
  display: block;
}
#video.video-is-playing #video-play {
  opacity: 0;
  visibility: hidden;
}

.section-info__title {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.section-info__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.89;
}
.section-info__item-zero {
  font-weight: 700;
  font-size: 64px;
  line-height: 0.82;
  letter-spacing: 0.095em;
  background: #f66d52;
  background: linear-gradient(to right, #f7941d 49%, #27aae1 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-control.video-is-playing {
  display: none;
}

.invite {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  background: #f7bc75;
  border-radius: 10px;
}
.invite__group {
  margin-bottom: 39px;
  display: flex;
}
.invite__title {
  font-weight: 700;
  font-size: 49px;
  margin-right: 28px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invite__title-second {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.04;
}
.invite__title-span {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  display: flex;
  flex-direction: column;
}
.invite__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #333333;
  padding-bottom: 100px;
}

.work-programm {
  padding: 20px;
  background: #c5ddff;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.work-programm__img-logo {
  margin: 0 auto;
  margin-bottom: 17px;
}
.work-programm__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 17px;
}
.work-programm__button {
  display: flex;
  align-items: center;
  border: 2px solid #00093c;
  border-radius: 10px;
  padding: 12px 71px;
  color: #000000;
}
.work-programm__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.work-programm__img-support {
  margin-left: 9px;
}

.news {
  padding-top: 29px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
  margin-bottom: 20px;
  background-color: #b8efcf;
  border-radius: 10px;
}
.news__img {
  margin: 0 auto;
  margin-bottom: 21px;
}
.news__title {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
}

.world-it {
  padding-top: 29px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
  margin-bottom: 20px;
  background: #ffeef6;
  border-radius: 10px;
}
.world-it__img {
  margin: 0 auto;
  margin-bottom: 21px;
}
.world-it__title {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: #000000;
}

.interactive {
  position: relative;
  padding: 20px 20px 26px 20px;
  margin-bottom: 20px;
  background: #ffe38e;
  border-radius: 10px;
}
.interactive__title {
  padding-left: 98px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.08;
  margin-top: 18px;
}
.interactive__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 42px;
}
.interactive__list {
  display: grid;
  grid-template-columns: 24px 28px;
  grid-gap: 4px;
  position: absolute;
  top: 20px;
  left: -118px;
}
.interactive__group {
  display: grid;
  grid-template-columns: 24px 28px;
  grid-gap: 4px;
}

.section-information {
  padding-bottom: 30px;
}
.section-information__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 19px;
  grid-column-gap: 10px;
  align-items: baseline;
}
.section-information__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.section-information__title {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.17;
  color: #000000;
  text-align: left;
  margin-bottom: 16px;
}
.section-information__img {
  margin-bottom: 16px;
}

.section-support {
  position: relative;
  padding-bottom: 46px;
}
.section-support__img-bg {
  position: absolute;
  right: -10px;
  top: 0;
  padding-bottom: 40px;
}
.section-support__img-main {
  position: absolute;
  left: -10px;
  top: 22px;
}
.section-support__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 15px;
}
.section-support__description {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: #000000;
}
.section-support__text-group {
  position: absolute;
  left: 95px;
  top: 20px;
}
.section-support__form {
  padding-top: 200px;
}
.section-support__form-field {
  background-color: rgba(0, 9, 60, 0.1);
  border-radius: 4px;
  border: 0;
  width: 320px;
  max-width: 100%;
  padding: 15px 0px 17px 19px;
}
.section-support__form-field:not(:last-child) {
  margin-bottom: 20px;
}
.section-support__form-field:last-child {
  margin-bottom: 17px;
}
.section-support__form-field::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.82;
  color: #4f4f4f;
}
.section-support__form-field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.82;
  color: #4f4f4f;
}
.section-support__form-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.82;
  color: #4f4f4f;
}
.section-support__subscribe {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: #4f4f4f;
  margin-bottom: 12px;
}
.section-support__subscribe-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  color: #ffffff;
  padding: 12px 0 12px 0;
  text-align: center;
  background: #f7941d;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

.footer-page {
  background-color: #00093c;
}
.footer-page__list-media {
  margin-top: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 89px;
}
.footer-page__item:not(:last-child) {
  margin-right: 40px;
}
.footer-page__icon-vk {
  fill: #ffffff;
  width: 26px;
  height: 27px;
}
.footer-page__icon-instagram, .footer-page__icon-telegram {
  fill: #ffffff;
  width: 21px;
  height: 26px;
}
.footer-page__icon-facebook {
  fill: #ffffff;
  width: 24px;
  height: 26px;
}
.footer-page__icon-youtube {
  fill: #ffffff;
  width: 27px;
  height: 26px;
}
.footer-page__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  color: #bdbdbd;
  padding-bottom: 20px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer-address__item {
  margin-top: 12px;
}
.footer-address__group {
  margin-bottom: 35px;
}
.footer-address__icon-geo {
  width: 17px;
  height: 20px;
}
.footer-address__icon-done {
  width: 8px;
  height: 4px;
}
.footer-address__link {
  display: flex;
  align-items: center;
}
.footer-address__name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-right: 12px;
  margin-left: 9px;
}
.footer-address__link-sign {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  margin-bottom: 50px;
}
.footer-address__contacts {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
}
.footer-address__location, .footer-address__email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */