.hero-section {
  &__image {
    width: 100%;
  }

  &__group {
    background-color: #00093c;
  }
}
.hero-information {
  position: relative;
  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $white-color;
    margin-top: 21px;
    padding-bottom: 40px;
  }
  &__title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $white-color;
  }
  &__decorative {
    position: absolute;
    bottom: -13px;
    left: 53px;
  }
}
