.interactive {
  position: relative;
  padding: 20px 20px 26px 20px;
  margin-bottom: 20px;

  background: #ffe38e;
  border-radius: 10px;
  &__title {
    padding-left: 98px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.08;
    margin-top: 18px;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 42px;
  }
  &__list {
    display: grid;
    grid-template-columns: 24px 28px;
    grid-gap: 4px;
    position: absolute;
    top: 20px;
    left: -118px;
  }
  &__group {
    display: grid;
    grid-template-columns: 24px 28px;
    grid-gap: 4px;
  }
}
