$main-color: #000000;
$dark-blue-color: #00093c;
$description-color: #333333;
$white-color: #ffffff;
$bg-hero-and-footer: #2f303a;
$bg-section-team: #f5f4fa;
$bg-footer-icons: rgba(255, 255, 255, 0.1);
$icon-color: #afb1b8;
$second-icon-color: #000;

body {
  font-family: 'Montserrat';
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: $dark-blue-color;
  color: $white-color;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

// .back_to_top:hover {
//   background: #e9ebec;
// }

.back_to_top-show {
  display: block;
}
