$main-color: #000000;
$dark-blue-color: #00093c;
$description-color: #333333;
$white-color: #ffffff;
$bg-hero-and-footer: #2f303a;
$bg-section-team: #f5f4fa;
$bg-footer-icons: rgba(255, 255, 255, 0.1);
$icon-color: #afb1b8;
$second-icon-color: #000;

body {
  font-family: 'Montserrat';
}
